        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        :root {
            --primary: rgba(10, 14, 35, 0.49);
            --secondary: rgba(6, 11, 40, 0.94);
        }

        body {
            background-image: url(./assets/Background.png);
            background-repeat: no-repeat;
            
            

            color: #dbd7d9;
            font-family: 'Plus Jakarta Sans', sans-serif;
        }

        .globalContainer {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-template-rows: repeat(12, 1fr);            

        }

        .sideBar {
            grid-column: 1/3;
            grid-row: 1/13;

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            height: 100vh;
            position: sticky;
            top: 0;

            box-shadow: 0 4px 12px rgba(0, 0, 0, .3);
            background: linear-gradient(90deg, var(--secondary), var(--primary));

            /* background-image: url(./assets/Menu.png);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;  */
        }

        .sidebarTop {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .logo {
            display: flex;
            align-items: center;
            padding: 1.9rem 1rem;
        }

        .logo img {
            width: 42px;
            height: auto;
        }

        .nonEffectuetListeTitle {
            display: flex;
            align-items: end;
            gap: .3rem;

        }

        .nonEffectuetListeTitle img {
            width: 20px;
            height: auto;
        }

        .nonEffectuetListeTitle p {
            font-size: 14px;
            font-weight: 400;
        }

        .ajouterButton {
            display: flex;
            align-items: center;
            padding: .9rem 1.5rem;
            background-color: rgba(26, 31, 55, 1);
            margin: 1rem .3rem;
            border-radius: 10px;
            gap: .3rem;
            cursor: pointer;
            
            transition: all .25s ease;
        }

        .ajouterButton img {
            width: 24px;
            height: auto;
        }

        .ajouterButton p {
            font-size: 14px;
        }

        .ajouterButton:hover {
            background-color: #0A1240;
            box-shadow: 0 4px 14px rgba(0, 0, 0, 0.25);
            transform: translateY(-2px);
        }

        .roomsContainer {
            grid-column: 3/13;
            grid-row: 1/13;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-template-rows: repeat(6, 1fr);
            gap: 1rem;
            padding: 4rem 1.5rem;
        }

        .roomCard {
            border-radius: 1rem;
            display: flex;
            flex-direction: column;
            gap: 4rem;
            background: linear-gradient(135deg, var(--secondary), var(--primary) 100%);
            box-shadow: 0 4px 12px rgba(0, 0, 0, .3);
        }

        .roomCardTitleAndSelect {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem 1.3rem .5rem 1.3rem;
        }
        .roomCardTitleAndSelect h3{
            font-size: 16px;
        }

        .iconAndSelect {
            position: relative;
            width: 36px;
            height: 36px;
        }

        .selectIcon {
            width: 100%;
            height: 100%;
            cursor: pointer;
        }

        .hiddenSelect {
            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;
            opacity: 0;
            cursor: pointer;
        }

        .roomCard1 {
            grid-column: 1/5;
            grid-row: 1/4;

        }

        .roomCard2 {
            grid-column: 5/8;
            grid-row: 1/4;

        }

        .roomCard3 {
            grid-column: 8/13;
            grid-row: 1/4;
        }

        .roomCard4 {
            grid-column: 1/7;
            grid-row: 4/7;
            margin-top: .5rem;
        }

        .roomCard5 {
            grid-column: 7/10;
            grid-row: 4/7;
            margin-top: .5rem;
        }

        .roomCard6 {
            grid-column: 10/13;
            grid-row: 4/7;
            margin-top: .5rem;
        }


        /*=====>>>> form */
        .modal {
            background: rgba(0, 0, 0, 0.45);
            position: fixed;
            inset: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .modalContent {
            width: 380px;
            background: #0d1117;
            padding: 1.5rem;
            border-radius: .8rem;
            color: #fff;
            border: 1px solid #1f2937;
        }

        .modalContent h2 {
            margin-bottom: 20px;
            font-size: 20px;
            font-weight: 600;
        }

        .formInput {
            margin-bottom: 15px;
        }

        label {
            display: block;
            font-size: 14px;
            margin-bottom: 6px;
        }

        input {
            width: 100%;
            background: #111827;
            border: 1px solid #374151;
            padding: 10px;
            border-radius: 8px;
            color: #fff;
        }

        .experiencesContainer {
            margin-top: 20px;
            background: #111827;
            padding: 15px;
            border-radius: 10px;
            border: 1px solid #374151;
        }

        .expTitleAndIcon {
            display: flex;
            justify-content: space-between;
            margin-bottom: 12px;
        }

        .expTitleAndIcon span {
            font-size: 15px;
            font-weight: 500;
        }

        .expTitleAndIcon img {
            width: 24px;
            height: auto;
            cursor: pointer;
        }

        .add-exp-btn {
            background: #2563eb;
            border: none;
            padding: 4px 10px;
            color: white;
            border-radius: 6px;
            cursor: pointer;
        }

        .experienceItem {
            background: #1f2937;
            padding: 10px;
            border-radius: 8px;
            margin-bottom: 10px;
            position: relative;
        }

        .experienceItem input {
            margin-bottom: 8px;
        }

        .removeExp {
            position: absolute;
            right: 10px;
            top: 10px;
            background: #dc2626;
            border: none;
            color: white;
            font-size: 13px;
            padding: 3px 8px;
            border-radius: 4px;
            cursor: pointer;
        }

        .modal-actions {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
        }

        .cancel {
            background: #1f2937;
            padding: 10px 18px;
            border-radius: 8px;
            color: white;
            cursor: pointer;
            border: 1px solid #374151;
        }

        .add {
            background: #16a34a;
            padding: 10px 18px;
            border-radius: 8px;
            color: white;
            cursor: pointer;
            border: none;
        }

        .addExpForm {
            display: flex;
            flex-direction: column;
            gap: 8px;
            margin-bottom: 15px;
        }

        .addExpForm input {
            background: #1f2937;
            border: 1px solid #374151;
            padding: .5rem;
            border-radius: 6px;
            color: white;
            outline: none;
        }

        .addExpBtn {
            background: #2563eb;
            border: none;
            padding: 8px;
            color: white;
            border-radius: 6px;
            cursor: pointer;
            margin-top: 5px;
        }
        /*===>>>>>> open exp icon button toggle clases */
        .hiddenForm {
            max-height: 0;
            opacity: 0;
            overflow: hidden;
            transition: max-height 0.5s ease, opacity 0.5s ease;
        }

        .showForm {
            max-height: 500px;
            opacity: 1;
        }

        .hideModel{
            display: none;
        }

        .divCaontainCard{
            display: flex;
            align-items: center;
            padding: .5rem .3rem;
            background-color: rgba(26, 31, 55, 1);
            margin: 1rem .3rem;
            border-radius: 10px;
        }
        .cardPhoto{
            width: 46px;
            height: auto;
        }

